Resources:
  AWSEBLoadBalancer:
    Properties:
      Listeners:
        -
          InstancePort: 80
          InstanceProtocol: HTTP
          LoadBalancerPort: 80
          Protocol: HTTP
        -
          InstancePort: 80
          InstanceProtocol: HTTP
          LoadBalancerPort: 443
          Protocol: HTTPS
          SSLCertificateId: "arn:aws:acm:us-east-1:961412317835:certificate/17857010-3a8b-4bf8-94b1-cf3be39d3c97"
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
